
.container {
    display: flex;
    padding: 18px;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    color: rgb(52, 71, 103);
    background: linear-gradient(126.97deg, rgb(6, 11, 40) 28.26%, rgb(10, 14, 35) 91.2%);
    min-height: 110px;
    border-radius: 20px;

    .leftPart {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        opacity: 1;
        background: transparent;
        color: rgb(52, 71, 103);

        span {
            margin: 0px 0px 2px;
            font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
            font-size: 0.75rem;
            line-height: 1.25;
            opacity: 1;
            text-transform: none;
            vertical-align: unset;
            text-decoration: none;
            color: rgb(160, 174, 192);
            font-weight: 500;
        };

        p {
            margin: 0px;
            font-size: 1.5rem;
            line-height: 1.375;
            font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
            opacity: 1;
            text-transform: none;
            vertical-align: unset;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-weight: 700;
        }
    }
}

.iconWrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    color: rgb(52, 71, 103);
    background: rgb(0, 117, 255);
    border-radius: 12px;
    width: 56px;
    height: 56px;

    img {
        width: 22px;
    }
}