.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .membersContainer {
        position: relative;
        width: 100%;

        img {
            width: 25px;
            height: 25px;
            border: 2px solid rgba(0, 0, 39, 0.316);
            border-radius: 50%; 
            position: absolute;
            left: 50%;
            top: 50%;
            &:nth-child(1) {
                z-index: 1;
                transform: translateY(-50%) translateX(-40px);
                &:hover {
                    z-index: 10;
                }
            }
            &:nth-child(2) {
                z-index: 2;
                transform: translateY(-50%) translateX(-28px);
                &:hover {
                    z-index: 10;
                }
            }
            &:nth-child(3) {
                z-index: 3;
                transform: translateY(-50%) translateX(-16px);
                &:hover {
                    z-index: 10;
                }
            }
            &:nth-child(4) {
                z-index: 4;
                transform: translateY(-50%) translateX(-4px);
                &:hover {
                    z-index: 10;
                }
            }
        }
    }
}