.switch {
  position: relative;
  width: 2.5rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(52, 71, 103);
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  box-shadow: rgb(20 20 20 / 12%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(20 20 20 / 7%) 0rem 0.125rem 0.25rem -0.0625rem;
  top: 50%;
  background-color: white;
  transition: .4s;
  left: 10px;
  transform: translate(-50%, -50%);
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translate(12px, -50%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switcherWrapper {

  .label {
    position: relative;
    left: 50px;
    margin: 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1.25;
    opacity: 1;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
    display: block;
    white-space: nowrap;
  }
}