.generalheader {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 10px 30px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    position: sticky;
    top: 24px;
    z-index: 100;
    margin: 0 10px;

    img {
        cursor: pointer;
    }

    .leftPart span {
        font-size: 15px;
        font-weight: 500;
    }

    .leftPart img {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }

    .leftPart h2 {
        font-size: 17px;
    }

    .leftPart div {
        display: flex;
        align-items: center;
    }

    .rightPart {
        display: flex;
    }

    .items {
        display: flex;
        align-items: center;
    }

    .items a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        margin-left: 3px;
    }

    .items img {
        width: 17px;
        height: 17px;
        margin-left: 15px;
    }

    .searchInput {
        display: flex;
        align-items: center;
        background-color: rgb(15, 21, 53);
        border: 1.5px solid rgba(226, 232, 240, 0.3);
        border-radius: 15px;
    }

    .searchInput input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        padding: 0 3px;
        border-radius: 0 10px 10px 0;
        background-color: transparent;
        color: white;
        font-weight: bold;
        transition: all 0.1s;
        &::placeholder {
            color: rgb(113, 128, 150);
        }
        &:focus {
            padding: 0 10px;
            box-shadow: 0 0 5px 0 rgb(133, 212, 238);
        }
    }

    .searchInput img {
        width: 16px;
        height: 16px;
        margin: 9px 14px;
    }

    .menu {
        display: none;
    }
}

.sticky {
    backdrop-filter: blur(2.625rem);
    box-shadow: rgb(255 255 255 / 90%) 0rem 0rem 0.0625rem 0.0625rem inset,
    rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
    transition: box-shadow 0.7s ease;
}
 
@media screen and (max-width: 1440px) {
    .generalheader {
        .menu {
            display: block;
        }
    }
}

@media screen and (max-width: 768px) {
    .generalheader {
        flex-direction: column;
        align-items: stretch;
    
        .rightPart {
            margin-top: 10px;
            justify-content: space-between;
        }
    }
}

