@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

button {
    font-weight: bold;
    padding : 0.65rem 1.5rem;
    border-radius : 0.75rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    font-weight : 'bolder';
    color: white;
    cursor: pointer;
    transition: all 250ms;
    text-transform: uppercase;
}

button:hover {
    transform: scale(1.1)
}