.footer{
    width: 100%;
    display: flex;
    margin: 36px 0 36px 17.125rem;
    justify-content: space-between;
    font-size: 0.875rem;
    letter-spacing: .3px;
    color:white;
}

.footer-for-singnIn{
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: space-between;
    font-size: 0.875rem;
    letter-spacing: .3px;
    color:white;
    flex-direction: column;
}

.footerPart_2, .footerPart_1{
    display: flex;
    justify-content: center;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
}
.footerPart_1 a{
    margin: 0 2px;
}
.footerPart_2 a{
    margin-right: 46px;
}

.footerPart_2 a, .footerPart_1 a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:1100px){
    .footer{
        flex-direction:column;
    }
    .footerPart_2 a{
        margin-right: 20px;
    }
}